<div class="social-standing-wrapper">
    <div>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 8px;">
            <div>
                <label class="attribute-label centered-input">{{ localize 'L5R.SocialStanding.Honor' }}</label>
                <input class="centered-input" type="text" name="data.social_standing.honor" value="{{data.social_standing.honor}}" placeholder="0"/>
            </div>
            <div>
                <label class="attribute-label centered-input">{{ localize 'L5R.SocialStanding.Glory' }}</label>
                <input class="centered-input" type="text" name="data.social_standing.glory" value="{{data.social_standing.glory}}" placeholder="0"/>
            </div>
            <div>
                <label class="attribute-label centered-input">{{ localize 'L5R.SocialStanding.Status' }}</label>
                <input class="centered-input" type="text" name="data.social_standing.status" value="{{data.social_standing.status}}" placeholder="0"/>
            </div>
        </div>
        <div style="display: grid; grid-template-rows: 1fr 1fr 1fr; gap: 8px;">
            <div>
                <label class="attribute-label">{{ localize 'L5R.SocialStanding.Ninjo' }}</label>
                <input type="text" name="data.social_standing.ninjo" value="{{data.social_standing.ninjo}}"/>
            </div>
            <div>
                <label class="attribute-label">{{ localize 'L5R.SocialStanding.Giri' }}</label>
                <input type="text" name="data.social_standing.giri" value="{{data.social_standing.giri}}"/>
            </div>
            <div>
                <label class="attribute-label">{{ localize 'L5R.SocialStanding.SocialTitles' }}</label>
                <input type="text" name="data.social_standing.titles" value="{{data.social_standing.titles}}"/>
            </div>
        </div>
    </div>
</div>