$short-attribute-width: 64px;
$attributes-margin: 4px;


.l5r {
    /* Sheet Tabs */
    /* Items List */
    /* Attributes */
}
.l5r .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}
.l5r .sheet-header {
    height: 140px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.l5r .sheet-header .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}
.l5r .sheet-header .header-fields {
    flex: 1;
    height: 100px;
}
.l5r .sheet-header h1.charname {
    height: 48px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
}
.l5r .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}
.l5r .resource {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: left;
    text-align: center;
}
.l5r .resource input {
    width: 100px;
    height: 28px;
}
.l5r .tabs {
    height: 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}
.l5r .tabs .item {
    line-height: 40px;
    font-weight: bold;
}
.l5r .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

.l5r .window-content form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.l5r .sheet-body {
    overflow: hidden;
    height: 100%;
}
.l5r .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
}
.l5r .editor,
.l5r .editor-content {
    height: 100%;
}
.l5r .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.l5r .item-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.l5r .item-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.l5r .item-list .item-name {
    margin: 0;
}
.l5r .item-list .item-controls {
    flex: 0 0 36px;
}
.l5r .attributes-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.l5r .attributes-header .attribute-label {
    flex: 1.5;
}
.l5r .attributes-header .attribute-control {
    flex: 0 0 20px;
}
.l5r .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.l5r .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}
.l5r .attributes-list a.attribute-control {
    flex: 0 0 20px;
    text-align: center;
    line-height: 28px;
    border: none;
}
.l5r.sheet.actor {
    min-width: 560px;
    min-height: 420px;
}
.l5r.sheet.item {
    min-width: 460px;
    min-height: 400px;
}


.section-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.centered-input {
    text-align: center !important;
}

.no-border {
    border: none !important;
}

.header-rings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.flex-editor {
    display: flex;
    flex-direction: column;
}

.flex-editor > .editor {
    min-height: 50px;
}

.header-rings label {
    font-weight: bold;
}

.earth {
    color: #699977;
}

.air {
    color: #917a9b;
}

.water {
    color: #61909e;
}

.fire {
    color: #99754d;
}

.void {
    color: #433f3d;
}

.rings-circle {
    border: none;
    width: 100%;
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
}

.text-block-header {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.skill-category-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 8px;
}

.skill-category-skills-list {
    display: grid;
    gap: 4px;
}

.skill-category-ring-actions {
    display: grid;
    grid-auto-rows: min-content;
    gap: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    padding-right: 8px;
}

.skill-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 8px;
}

.skill-content label {
    text-align: right;
    padding-top: 4px;
}

.quick-rules {
    font-style: italic;
    color: #646464;
    font-size: 0.7rem;
}

.conflict-wrapper {
    margin-top: 8px;
}

.conflict-top-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.conflict-stats-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 3fr;
    gap: 24px;
}

.endurance-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.composure-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.focus-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.void-points-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.weapon-stats-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.inventory-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.weapons-content {
    flex-grow: 1;
    padding-right: 4px;
}

.items-content {
    flex-grow: 1;
    padding-left: 4px;
}

.items-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
}

.items-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-entry-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.item-entry-content .item-name {
    flex-grow: 3;
    flex-basis: 200px;
}

.item-entry-content img {
    height: 48px;
    width: 48px;
    flex-grow: 0;
}

.icon-stat-container {
    flex: 0 0 64px;
    display: flex;
    margin-left: 4px;
    margin-right: 4px;
    align-items: baseline;
    padding-left: 4px;
    padding-right: 4px;
}

.icon-stat-container > img {
    height: 18px;
    flex: 0 0 18px !important;
    margin-left: 4px;
    margin-right: 4px;
}

.icon-stat-container > input {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

.feat-controls {
    flex: 0 0 36px;
}

.feat {
    height: auto;
    border: 1px solid #bbb !important;
    line-height: 24px;
    margin-bottom: 12px;
}

.feat-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bbb;
    align-items: center;
}

.feat-header h4 {
    font-weight: bold;
    text-transform: uppercase;
}

.feat .feat-header .feat-name {
    margin: 0;
    padding-left: 8px;
}

.feat .feat-header .feat-controls {
    flex: 0 0 36px;
}

.feat .feat-header img {
    margin-top: 0px;
}

.feat .feat-description {
    line-height: 1rem;
    padding: 4px;
}

.rollable {
    cursor: pointer;
}

.rollable:hover {
    text-shadow: 0 0 2px white;
    text-decoration: underline;
}

.l5r {
    .tab-container {
        padding: 12px;
        height: 100%;
        overflow: auto;
    }
    
    .attribute-container {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .attribute-container:first-child {
        margin-right: 4px;
        margin-left: 0px;
    }
    
    .attribute-container:last-child {
        margin-left: 4px;
        margin-right: 0px;
    }
    
    .short-attribute-container {
        flex: 0 0 $short-attribute-width;
        margin-right: $short-attribute-width;
        margin-left: $short-attribute-width;
    }
    
    .short-attribute-container:first-child {
        flex: 0 0 $short-attribute-width;
        margin-right: $short-attribute-width;
        margin-left: 0px;
    }
    
    .short-attribute-container:last-child {
        flex: 0 0 $short-attribute-width;
        margin-right: 0px;
        margin-left: $short-attribute-width;
    }
    
    .adquisitions {
        header {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            h4 {
                font-weight: bold;
                text-align-last: center;
            }

            h4:first-child {
                font-weight: bold;
                text-align-last: left;
            }
        }
        
        .row {
            display: flex;
            flex-direction: row;
            padding: $attributes-margin;
            
            
            .name {
                margin-right: $attributes-margin;
            }
            
            .xp {
                flex: 0 0 64px;
                margin-left: $attributes-margin;
                margin-right: $attributes-margin;
            }
            
            .rank {
                flex: 0 0 64px;
                margin-left: $attributes-margin;
            }
        }

        .tools {
            display: flex;
            justify-content: center;
            padding: 12px;
        }
    }
    
}